{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero -->
<div class="container-fluid bg-default">
    <div class="row bg-neutral hero">
        <div class="col-md-8 offset-md-4 py-5">
        {% if reservation_page %}
            {{ reservation_page.content| safe }}
        {% else %}
            <p>No page data available.</p>
        {% endif %}
        </div>
    </div>
</div> 

<!-- Active reservations -->
<div class="container">
    <div class="row reserv-collection-width  mx-auto pt-3">
        <h2>Reservations</h2>

        {% if active_reservation %}
            {% for reservation in active_reservation %}
        	<div class="{% if active_reservation|length == 1 %}col-12{% else %}col-md-6 col-sm-12{% endif %} mb-4">
                
				<div class="card reserve-card h-100 light-bg">
               	 	<div class="card-body">
                    	<div class="card-title reserv-card-custom-heading">Reservation ID: {{ reservation.reservation_id }}</div>
                    	<p class="card-text">
                        	<span class="{% if not reservation.reserved_date %}d-none{% endif %} d-block">
                            <strong>Pickup date:</strong> {{ reservation.reserved_date|default:"" }}
                        	<span>
                        	<span class="{% if not reservation.reserved_note %}d-none{% endif %} d-block">
                                <strong>Note:</strong> {{ reservation.reserved_note|default:"" }}
                        	</span>
                    	</p>   
                        <div class="items">
                            {% for item in reservation.stock_items.all %}
                              <div class="d-flex align-items-center mb-2">
                                <!-- Thumbnail image -->
                                <img src="{{ item.item.item_image.url }}" class="thumbnail-img me-2" alt="{{ item.item.name }}">
                                
                                <!-- Item name and quantity -->
                                <div>
                                  <p class="mb-0">{{ item.item.name }}, {{ item.preserve.method }}</p>
                                  <small>Quantity: {{ item.item_quantity }} {{ item.quantity.unit }}</small>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
				    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-danger" 
                            data-bs-toggle="modal" 
                            data-bs-target="#deleteModal" 
                            data-id="{{ reservation.reservation_id }}">
                                Delete
                        </button>
                        {% if reservation.reservation_complete == 0 %}
                        <a href="{% url 'home' %}" class="btn btn-secondary">Add Items</a>
                        {% endif %}
                        <button type="button" class="btn btn-success" 
                            data-id="{{ reservation.reservation_id }}" 
                            data-status="{{ reservation.reservation_complete }}" 
                            data-date="{% if reservation.reserved_date %}{{ reservation.reserved_date|date:'Y-m-d' }}{% else %}{% now 'Y-m-d' %}{% endif %}"
                            data-note="{{ reservation.reserved_note }}"
                            data-bs-toggle="modal" 
                            data-bs-target="#reserveModal">
                            {% if reservation.reservation_complete == 0 %}
                                Submit
                            {% elif reservation.reservation_complete == 1 %}
                                Edit
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div> 
            {% endfor %}
        {% else %}
            <div class="col-12 my-5">
                <h3>You have no active reservations.</h3>
                <p>It looks like you haven’t reserved anything yet. Start adding items to your reservation now!</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Browse Items</a>
            </div>
        {% endif %}

    </div>
</div>
<!-- Closed reservations - Only visible if any-->
{% if old_reservations %}
<div class="container-fluid bg-primary-lea">
    <div class="row reserv-collection-width mx-auto px-5 pb-5 d-flex align-items-stretch">
        <h2 class="text-white py-3">Reservations Collected</h2>
        
        <!-- Loop through each reservation -->
        {% for reservation in old_reservations %}
        <div class="{% if old_reservations|length == 1 %}col-12{% else %}col-md-6 col-sm-12{% endif %} mb-4">
            <div class="card reserve-card h-100 light-bg d-flex flex-column">
                <div class="card-body flex-grow-1">
                    <div class="card-title reserv-card-custom-heading">Reservation ID: {{ reservation.reservation_id }}</div>
                    <p class="card-text">
                        <span class="{% if not reservation.reserved_date %}d-none{% endif %} d-block">
                        <strong>Pickup date:</strong> {{ reservation.reserved_date|default:"" }}
                        <span>
                        <span class="{% if not reservation.reserved_note %}d-none{% endif %} d-block">
                            <strong>Note:</strong> {{ reservation.reserved_note|default:"" }}
                        </span>
                    </p>   
                    <div class="items">
                        {% for item in reservation.stock_items.all %}
                        <div class="d-flex align-items-center mb-2">
                            <!-- Thumbnail image -->
                            <img src="{{ item.item.item_image.url }}" class="thumbnail-img me-2" alt="{{ item.item.name }}">
                            
                            <!-- Item name and quantity -->
                            <div>
                                <p class="mb-0">{{ item.item.name }}, {{ item.preserve.method }}</p>
                                <small>Quantity: {{ item.item_quantity }} {{ item.quantity.unit }}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}



<!-- Reserve Item Modal -->
<div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reserveModalLabel">Reserve Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBodyContent">
                <!-- Modal content will be updated dynamically -->
            </div>
        </div>
    </div>
</div>

<!-- Delete Reservation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this reservation?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Ensure the form is present -->
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/my_modal.js' %}"></script>
{% endblock %}