{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->

<!-- Hero -->
<div class="container-fluid bg-default">
    <div class="row bg-neutral hero">
        <div class="col-md-8 offset-md-4 py-5">
            <article class="text-white">
                <header>
                    <h1>Welcome to Lea Cottage Home Bakery</h1>
                </header>
                <p>
                    Nestled among the lush pastures and scenic landscapes, Lea Cottage is a charming home bakery where tradition and fresh, local ingredients meet. Inspired by the historic beauty of our cottage, documented on old maps of the region, we bake with heart, using fruits and vegetables grown right here at Lea Cottage. Whether you're craving fresh-baked breads, seasonal treats, or delightful preserves, everything we offer is made with love and care. Come, explore our selection, and taste the warmth of home in every bite.
                </p>
            </article>
        </div>
    </div>

    <div class="row stockitem-collection-width mx-auto pt-3">
        {% for entry in stock_items_with_ingredients %}

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 stockitem-card p-0">
                <div class="card-img-top img-container" data-bg-image="{% if not 'placeholder' in entry.stock_item.item.item_image.url %}{{ entry.stock_item.item.item_image.url|replace:'http://,https://' }}{% else %}{% static 'images/default.jpg' %}{% endif %}">
                </div>
                <div class="card-body">
                    <div class="card-title card-custom-heading">{{ entry.stock_item.item.name }}</div>
                    <p class="card-text">
                        {{ entry.stock_item.preserve.method }}
                        ({{ entry.stock_item.item_quantity }} {{ entry.stock_item.quantity.unit }})</p>
                    <p class="card-text">Item contains: package of {{ entry.stock_item.item_quantity }} {{ entry.stock_item.quantity.unit }}</p>
                </div>
                <div class="card-footer text-center p-0 pb-auto">

                        {% if user.is_authenticated %}
                        <a href="{% url 'add_to_reservation' entry.stock_item.id %}" class="btn btn-primary mb-3">Reserve item</a>
                        {% endif %}
                        <a href="{% url 'stock_item_detail' entry.stock_item.id %}" class="btn btn-secondary mb-3">View item</a>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
</div>

{% endblock %}
{% block extras %}
<script src="{% static 'js/set_bg_image.js' %}"></script>
{% endblock %}