{% extends "base.html" %}

{% block content %}


<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        {% for entry in stock_items_with_ingredients %}
        <div class="col-md-4">
            <div class="card mb-4">
                
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">{{ entry.stock_item.item.name }}</h5>
                      <p class="card-text">Item description goes here</p>
                      <p class="card-text">Item contains: package of {{ entry.stock_item.item_quantity }} {{ entry.stock_item.quantity.unit }}</p>
                
                      {% if user.is_authenticated %}
                      <a href="{% url 'add_to_reservation' entry.stock_item.id %}" class="btn btn-primary">Reserve item</a>
                      {% endif %}
                      <a href="{% url 'stock_item_detail' entry.stock_item.id %}" class="btn btn-secondary">View item</a>
                    </div>
                  
            </div>
        </div>


       
            <!-- {{ entry.stock_item.preserve.method }}
            <a href="{% url 'stock_item_detail' entry.stock_item.id %}">{{ entry.stock_item.item.name }}</a>
            ({{ entry.stock_item.item_quantity }} {{ entry.stock_item.quantity.unit }}) -->
            <!-- {% if forloop.counter|divisibleby:3 %}
            {% endif %} -->
        {% endfor %}
        
    </div>
</div>

{% endblock %}