{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
            <div class="card mb-4 m-3 p-0">
                <div class="row g-0">
                    <div class="col-md-4  p-0">
                        <img class="img-fluid rounded-start fill-image"  src="{{ stock_item.item.item_image.url }}" alt="{{ stock_item.item.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="card-title detail-card-custom-heading">{{ stock_item.item.name }}</div>
                            <p class="card-text">{{ stock_item.item_quantity }} pcs - {{ stock_item.preserve.method }}</p>
                            
                            <div class="card-custom-heading">Ingredients:</div>
                            <p class="card-text">
                                {% for ingredient in stock_item.item.ingredients.all %}
                                    {{ ingredient.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        
                        <div class="card-footer text-center p-0 pb-auto">
                            {% if user.is_authenticated and stock_item.status == 0 %}
                            <a href="{% url 'add_to_reservation' stock_item.id %}" class="btn btn-primary mb-3">Reserve Item</a>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="btn btn-secondary mb-3">Log in to reserve this item</a>
                            {% endif %}
                            <a href="{% url 'home' %}" class="btn btn-outline-secondary mb-3">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock content %}
