{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="flex-fill">
    <div class="container-fluid h-100  d-flex align-items-center justify-content-center">
        <div class="row mx-auto text-center">
            <div class="card p-5">
                <div class="card-body">
                    <h1>500 - Server Error</h1>
                    <p>Oops! Something went wrong on our end. Please try again later.</p>
                    <a href="{% url 'home' %}">Go back to Home</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
